{% extends 'base.html.twig' %}

{% block title %}Cart Index{% endblock %}

{% block body %}
    <h1>Cart Index</h1>

    <table class="table">
    {% for cartItem in cart.cartitems %}
        <tr>
            <td>{{ cartItem.quantity }}</td>
            <td>{{ cartItem.product.name }}</td>
            <td>{{ cartItem.product.price }} €</td>
        </tr>
    {% endfor %}

        <tr>
            <td>{{ cart.totalAmount }} €</td>
        </tr>
    </table>
{% endblock %}
