{%  extends 'base.html.twig' %}

{% block title %}Edit d'un Beverage {% endblock %}
{% block body %}
    {{ form_start(monFormulaire,{'attr' : {novalidate: 'novalidate'}}) }}
        {{ form_widget(monFormulaire) }}
        <button type="submit" class="btn btn-primary">Editer</button>
    {{ form_end(monFormulaire) }}

{% endblock %}