{% extends 'base_front.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
    <h1>List of the restaurants</h1>


    <form class="py-3 mt-5">
        <div class="form-row">
            <div class="col">
                <input type="text" name="search" class="form-control" placeholder="Restaurant Name or Category" value="{{ app.request.query.get('search') }}">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>



    <div class="row bg-dark text-white py-3">
        <div class="col-3 font-weight-bold ">
            Restaurant
        </div>
        <div class="col-3">
            Type
        </div>
        <div class="col-3">
            Opening
        </div>
    </div>

    {%  for restaurant in restaurants %}
        <div class="row border-bottom py-3">
            <div class="col-3 font-weight-bold">
                {{ restaurant.name }}
            </div>
            <div class="col-3">
                {{ restaurant.type }}
            </div>
            <div class="col-3">
                {{ restaurant.opening }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
