{%  extends 'base.html.twig' %}

{% block title %}Add Menu Restaurant {% endblock %}
{% block body %}
    <h1>MenuRestaurant Add</h1>
    {{ form_start(form,{'attr' : {novalidate: 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Add</button>
    {{ form_end(form) }}

{% endblock %}