{%  extends 'base.html.twig' %}

{% block title %}Add Dessert {% endblock %}
{% block body %}
    {{ form_start(form,{'attr' : {novalidate: 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Edit</button>
    {{ form_end(form) }}

{% endblock %}