{%  extends 'base.html.twig' %}

{% block title %}Edit Menu Restaurant {% endblock %}
{% block body %}
    <h1>MenuRestaurant Edit</h1>
    {{ form_start(monFormulaire,{'attr' : {novalidate: 'novalidate'}}) }}
        {{ form_widget(monFormulaire) }}
        <button type="submit" class="btn btn-primary">Edit</button>
    {{ form_end(monFormulaire) }}

{% endblock %}